
.idea/

class/class_alaxione.php

config/alaxioneconf.php

templates/VersionA/templates_c/

.vscode/

api_socket/

api_essilor/

config/

api_utilisateur/

templates/VersionA/alaxioneconf.php

apitest/

api/

socket.io/

ReactRDV/

.buildpath

.project

api2

fichierimport/


*.hl7

hl7/base_patient_propre_HE3.csv

hl7/fiche_patient_a_corriger.csv

hl7/liste_patient_ajouter.log

hl7/liste_patient_modifer.log

hl7/logdifusertest.log

hl7/logtexscriptmaj.txt

hl7/ping.php

documents_patients/

lic.txt

licdata.txt

nbproject/

ReactAlaxioneCalendar/

apialaxione/

apialaxionev2/

ReactTeleconsultation/

serveursocketalaxione/

simon
/img_front_end/

test.php

sql/ajax_new/

sql/api_borne_new/

.vs/
