RewriteEngine On
RewriteRule ^centre-(.*)\.html$ index.php?administration=$1 [L]
RewriteRule ^votre-centre-(.*)$ liste_centre_seul.php?administration=$1 [L]
RewriteRule ^votre-fichier-(.*)-(.*).pdf$ script/dowload_file.php?file=$1&token=$2 [L]
